<nav class="navbar navbar-dark bg-dark mb-5">
  <a href="/" class="navbar-brand">Angular Blogs</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/" class="nav-item nav-link active">Home</a>
      <a routerLink="/about" class="nav-item nav-link">About</a>
      <a routerLink="/blog" class="nav-item nav-link">Blogs</a>
      <a routerLink="/contact" class="nav-item nav-link">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/anilkmirge" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/anilkmirge" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/anilmirge" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
</nav>